<% layout('layouts/boilerplate')%>
  <body>
    <h3>All Listings</h3>
    <% for(let listing of alllistings) { %>
      <div class="card" style="width: 18rem;">
        <img src="<%=listing.image%>" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      

    <% } %>
      
    
    <ul>
      <% for(let listing of alllistings) { %>
      <li><a href="/listings/<%= listing._id %>"> <%= listing.title %> </a> <form method="post" action="/listings/<%=listing._id%>?_method=DELETE"><button>delete</button></form></li>
      <li><a href="/listings/<%= listing._id %>"> <%= listing.title %> </a> <form method="post" action="/listings/<%=listing._id%>?_method=DELETE"><button>delete</button></form></li>
      <% } %>
      
    </ul>
  </body>
