<% layout('layouts/boilerplate')%>
<body>
  
  <h3>All Listings</h3>
  
  
   <div class="row">
    <% for(let listing of alllistings) { %>
      <div class="card" style="width: 18rem;">
        <img src="<%=listing.image%>" class="card-img-top" alt="listings image">
        <div class="card-body">
          <p class="card-text">
           <a href="/listings/<%=listing._id%>"> <%=listing.title%><br></a>
           Description <%=listing.description%><br>
           Location:: <%=listing.location%><br>
           Price:: &#8377;<%=listing.price.toLocaleString("en-IN")%>/night <br>
           Country:: <%=listing.country%>
          </p>
         
        </div>
      </div>
    <% } %>
   </div>
  

</body>